In [12]:
import pandas as pd

tailand = pd.read_csv("tailand.csv")
tailand

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,Column1,Column2,Column3,Column4
0,1,video,4/22/2018 6:00,529,512,262,432,92,3,1,1,0,NaN,NaN,NaN,NaN
1,2,photo,4/21/2018 22:45,150,0,0,150,0,0,0,0,0,NaN,NaN,NaN,NaN
2,3,video,4/21/2018 6:17,227,236,57,204,21,1,1,0,0,NaN,NaN,NaN,NaN
3,4,photo,4/21/2018 2:29,111,0,0,111,0,0,0,0,0,NaN,NaN,NaN,NaN
4,5,photo,4/18/2018 3:22,213,0,0,204,9,0,0,0,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7045,7046,photo,9/24/2016 2:58,89,0,0,89,0,0,0,0,0,NaN,NaN,NaN,NaN
7046,7047,photo,9/23/2016 11:19,16,0,0,14,1,0,1,0,0,NaN,NaN,NaN,NaN
7047,7048,photo,9/21/2016 23:03,2,0,0,1,1,0,0,0,0,NaN,NaN,NaN,NaN
7048,7049,photo,9/20/2016 0:43,351,12,22,349,2,0,0,0,0,NaN,NaN,NaN,NaN
7049,7050,photo,9/10/2016 10:30,17,0,0,17,0,0,0,0,0,NaN,NaN,NaN,NaN

In [13]:

# 找到status_types欄位，並從中選取video和photo的資料列
video_rows = tailand[tailand['status_type'] == 'video']
photo_rows = tailand[tailand['status_type'] == 'photo']

# 使用value_counts()方法分別統計video和photo的數量
num_videos = video_rows['status_type'].value_counts()[0]
num_photos = photo_rows['status_type'].value_counts()[0]

print(f"video的數量為：{num_videos}")
print(f"photo的數量為：{num_photos}")

video的數量為：2334
photo的數量為：4288

In [14]:
# 找到出現次數最多分享的貼文
most_shares = tailand.sort_values(by='num_shares', ascending=False).iloc[0]

# 打印出現次數最多的留言和出現次數
print(most_shares)

status_id                    4544
status_type                 video
status_published    5/9/2018 8:33
num_reactions                1970
num_comments                 2903
num_shares                   3424
num_likes                    1330
num_loves                     482
num_wows                      138
num_hahas                      13
num_sads                        5
num_angrys                      2
Column1                       NaN
Column2                       NaN
Column3                       NaN
Column4                       NaN
Name: 4543, dtype: object

In [15]:
# 根據互動量進行排序，獲取互動最多的一次
most_interactive = tailand.sort_values(by='num_reactions', ascending=False).iloc[0]

# 打印該次互動的詳細資訊
print(most_interactive)

status_id                     1230
status_type                  photo
status_published    4/10/2015 6:31
num_reactions                 4710
num_comments                    50
num_shares                       1
num_likes                     4710
num_loves                        0
num_wows                         0
num_hahas                        0
num_sads                         0
num_angrys                       0
Column1                        NaN
Column2                        NaN
Column3                        NaN
Column4                        NaN
Name: 1229, dtype: object

In [16]:

# 計算每種類型出現的次數
type_counts = tailand['status_type'].value_counts()

# 找到出現次數最多的類型
most_common_type = type_counts.index[0]

# 打印出現次數最多的類型
print('出現次數最多的類型是:', most_common_type)

出現次數最多的類型是: photo

In [17]:
# 找到出現次數最多的留言
most_comments = tailand.sort_values(by='num_comments', ascending=False).iloc[0]

# 打印出現次數最多的留言和出現次數
print(most_comments)

status_id                       499
status_type                   video
status_published    11/30/2016 8:46
num_reactions                   564
num_comments                  20990
num_shares                      154
num_likes                       473
num_loves                        82
num_wows                          3
num_hahas                         3
num_sads                          3
num_angrys                        0
Column1                         NaN
Column2                         NaN
Column3                         NaN
Column4                         NaN
Name: 498, dtype: object

In [18]:

# 確認互動量欄位名稱，例如按讚、分享、評論
interactions = ['num_reactions', 'num_comments', 'num_shares']

# 將每篇貼文的互動量相加
total_interactions = tailand[interactions].sum(axis=1)

# 統計貼文總數
status_id = len(tailand)

# 將總互動量除以貼文總數，得到平均互動量
avg_interactions = total_interactions.mean()

print(f"所有貼文的平均互動量為：{avg_interactions}")

所有貼文的平均互動量為：494.4957446808511

In [19]:
# 找到likes、love、sad和angry欄位，並計算它們的總和
total_reactions = tailand['num_likes'].sum() + tailand['num_loves'].sum() + tailand['num_sads'].sum() + tailand['num_angrys'].sum()
+ tailand['num_wows'].sum() + tailand['num_hahas'].sum()
# 分別計算likes、love、sad和angry的數量佔總和的百分比
percent_likes = (tailand['num_likes'].sum() / total_reactions) * 100
percent_love = (tailand['num_loves'].sum() / total_reactions) * 100
percent_sad = (tailand['num_sads'].sum() / total_reactions) * 100
percent_angry = (tailand['num_angrys'].sum() / total_reactions) * 100
percent_wow = (tailand['num_wows'].sum() / total_reactions) * 100
percent_haha = (tailand['num_hahas'].sum() / total_reactions) * 100

print(f"likes佔總和的百分比：{percent_likes}%")
print(f"love佔總和的百分比：{percent_love}%")
print(f"sad佔總和的百分比：{percent_sad}%")
print(f"angry佔總和的百分比：{percent_angry}%")
print(f"wows佔總和的百分比：{percent_wow}%")
print(f"hahas佔總和的百分比：{percent_haha}%")

likes佔總和的百分比：94.2639682597912%
love佔總和的百分比：5.579593945683256%
sad佔總和的百分比：0.10682040182626824%
angry佔總和的百分比：0.04961739269927943%
wows佔總和的百分比：0.565190601048183%
hahas佔總和的百分比：0.305289972623386%

In [21]:
# 計算總共的reactions、comments和shares數量
total_reactions = tailand['num_comments'].sum() + tailand['num_shares'].sum() + tailand['num_reactions'].sum()

# 計算reactions、comments和shares數量分別佔總合的百分比
percent_comments = (tailand['num_comments'].sum() / total_reactions) * 100
percent_shares = (tailand['num_shares'].sum() / total_reactions) * 100
percent_reactions = (tailand['num_reactions'].sum() / total_reactions) * 100

print(f"reactions佔總和的百分比：{percent_reactions:.2f}%")
print(f"comments佔總和的百分比：{percent_comments:.2f}%")
print(f"shares佔總和的百分比：{percent_shares:.2f}%")

reactions佔總和的百分比：46.54%
comments佔總和的百分比：45.37%
shares佔總和的百分比：8.09%

In [28]:
# 找到 loves 最多的貼文
max_loves_index = tailand['num_loves'].idxmax()

# 輸出貼文的內容和 loves 數量
print("The post with the most num_loves is:")
print(tailand.loc[max_loves_index]['status_id'])
print("Number of num_loves:", tailand.loc[max_loves_index]['num_loves'])

The post with the most num_loves is:
4661
Number of num_loves: 657

In [29]:
# 找到 wows 最多的貼文
max_wows_index = tailand['num_wows'].idxmax()

# 輸出貼文的內容和 wows 數量
print("The post with the most num_wows is:")
print(tailand.loc[max_wows_index]['status_id'])
print("Number of num_wows:", tailand.loc[max_wows_index]['num_wows'])

The post with the most num_wows is:
4527
Number of num_wows: 278